<div class="gallery-item">
  <a href="#" onclick="clearGallery('{{name}}', '{{playlistId}}')">
    <img src="{{imageSrc}}" alt="{{name}}" class="gallery-image" />
    <h2 class="gallery-name">{{name}}</h2>
  </a>
</div>

