<div class="homepage-gallery-item">
  <a href="/gallery/{{id}}" onclick="clearGallery('{{name}}', '{{playlistId}}')">
    <img src="/images/{{genre}}.jpg" alt="{{name}}" class="homepage-gallery-image" />
    <h2 class="gallery-name">{{name}}</h2>
  </a>
</div>




